* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;

  /* background: url("./assets/quizbgc.png"); */
  background-image: linear-gradient(#f6aa80, #f680db);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-quiz-container {
  width: 40rem;
  /* background-color: rgba(246, 128, 219,0.2); */
  height: 30rem;
  box-shadow: 2px 2px 2px rgb(212, 132, 110, 0.5);
  background-color: rgba(234, 139, 133, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid #6610f2; */
  border-radius: 30px;
}

.game-details-container {
  width: 80%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.game-details-container h1 {
  font-size: 1.2rem;
}

.game-question-container {
  width: 80%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px rgb(212, 132, 110, 0.5);
  border: 2px solid #d4846e;
  border-radius: 25px;
}

.game-question-container h1 {
  font-size: 1.1rem;
  text-align: center;
  padding: 3px;
}

.game-options-container {
  width: 80%;
  height: 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.game-options-container span {
  width: 45%;
  height: 3rem;
  border: 2px solid #d4846e;
  box-shadow: 2px 2px 2px rgb(212, 132, 110, 0.5);
  border-radius: 20px;
  overflow: hidden;
}

span label {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  font-weight: 600;
  color: rgb(22, 22, 22);
}

span label:hover {
  color: white;
}

input[type="radio"] {
  position: relative;
  display: none;
}

input[type="radio"]:checked ~ .option {
  background: paleturquoise;
}

.next-button-container {
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: center;
}
.next-button-container button {
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  background: none;
  color: rgb(25, 25, 25);
  border: 2px solid #d4846e;
  box-shadow: 2px 2px 2px rgb(212, 132, 110, 0.5);
  outline: none;
}
.next-button-container button:hover {
  background-color: #d4846e;
  box-shadow: 2px 2px 2px rgb(212, 132, 110, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
