.form_container {
  width: 550px;
  margin: 50px auto;
  /* box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.1); */
  /* border: 1px solid black; */
}

.form_control {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

input {
  padding: 4px 8px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.textarea_control {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  line-height: 20px;
}

input select textarea {
  padding: 4px 8px;
  border: 1px light #00aeff;
}

label {
  font-size: 20px;
  font-weight: bold;
}

input:focus {
  outline-color: #dc3545;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

button {
  background-color: gray;
  border: transparent solid 2px;
  padding: 5px 10px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-in;
}

button:hover {
  background-color: #ccc;
  border: 2px solid #dc3545;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}
